---
import Layout from "../layouts/Layout.astro";
import PageBanner from "../components/Page-Banner.astro";
import { contentful_client } from "../lib/contentful";
import type { EntryFieldTypes } from "contentful";

interface AboutUsSkeleton {
    contentTypeId: "aboutUs";
    fields: {
        content: EntryFieldTypes.Text;
    };
}

const data =
    await contentful_client.withoutUnresolvableLinks.getEntry<AboutUsSkeleton>(
        import.meta.env.ABOUT_US_ENTRY_ID,
    );

const { content } = data.fields;
---

<Layout title="About us">
    <section id="about">
        <PageBanner title="founded in 2009" />
        <article>
            <p>{content}</p>
        </article>
        <PageBanner title="meet the team" />
        <h2>charlie</h2>
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Ultrices cras
            facilisi odio laoreet diam class dignissim. Pharetra consectetur est
            cras donec taciti mauris himenaeos dapibus. Odio velit consequat mus
            vitae risus feugiat inceptos. Penatibus a natoque penatibus amet
            congue; vivamus eu pellentesque morbi. Mauris sociosqu inceptos
            malesuada; pellentesque sapien conubia curae. Per vivamus velit
            massa potenti consequat nisi.
        </p>
        <h2>cody</h2>
        <p>
            Eleifend aptent imperdiet nostra magna facilisi inceptos viverra.
            Suspendisse velit phasellus; tincidunt sagittis nam mi. Inceptos
            iaculis aliquet diam natoque vitae; convallis maximus purus. Dis
            ligula imperdiet integer elit fames habitant. Mauris commodo
            imperdiet dignissim scelerisque lacus fames; pellentesque massa.
            Lacus neque nulla rutrum turpis ac. Pellentesque malesuada in proin;
            natoque convallis eros mollis. Neque magnis libero lacinia; lacus
            porta elit ullamcorper quis.
        </p>
        <h2>jake</h2>
        <p>
            Pulvinar quisque tempus at, felis porttitor cursus mollis rhoncus.
            Praesent cras blandit commodo aliquet mauris. Est justo nunc dictum
            curabitur ullamcorper litora. Ante parturient arcu neque; dapibus
            congue habitasse. Tristique taciti ridiculus blandit mus est
            tincidunt. Integer elementum suscipit sed penatibus fames orci.
            Vitae porttitor varius platea; nulla aliquet tellus maecenas
            accumsan etiam. Nascetur orci malesuada id; et primis condimentum
            orci. Fringilla habitasse maximus hac cubilia consequat praesent
            nulla? Blandit lectus praesent consectetur convallis venenatis.
        </p>
    </section>
</Layout>
