---
import Layout from "../layouts/Layout.astro";
import PageBanner from "../components/Page-Banner.astro";
import PersonCard from "../components/Person-Card.astro";
import { contentful_client } from "../lib/contentful";
import type { EntryFieldTypes } from "contentful";

interface AboutUsSkeleton {
    contentTypeId: "aboutUs";
    fields: {
        content: EntryFieldTypes.Text;
    };
}

const data =
    await contentful_client.withoutUnresolvableLinks.getEntry<AboutUsSkeleton>(
        import.meta.env.ABOUT_US_ENTRY_ID,
    );

const { content } = data.fields;
---

<Layout title="About us">
    <section id="about">
        <PageBanner title="founded in 2009" />
        <article>
            <p>{content}</p>
        </article>
        <PageBanner title="meet the team" />
        <PersonCard
            name="charlie"
            img_url="https://placehold.co/300x200"
            description="Ex purus adipiscing lectus feugiat ornare. Facilisi porta aliquam sodales lacinia nibh taciti inceptos dapibus montes. Feugiat faucibus neque elementum viverra fringilla fusce. Elit tincidunt lorem sagittis finibus praesent. Sollicitudin dapibus elementum felis justo justo dictum integer. Gravida lobortis volutpat sapien vulputate duis tristique ultrices amet. Dis scelerisque scelerisque ipsum pulvinar amet interdum metus.Ut a elit phasellus, eleifend aenean proin cras metus suscipit. Vel fringilla nulla posuere, elit nostra auctor nullam a senectus. Mollis cursus sed aliquam quam facilisis odio venenatis. Iaculis platea convallis conubia conubia; vulputate eleifend pretium integer. Volutpat fames ut ante aliquet nulla per pretium lorem. Libero consequat tempor ac massa eget neque neque morbi fames. Dictum semper eu placerat; senectus nascetur ante."
        />
        <PersonCard
            name="cody"
            img_url="https://placehold.co/300x200"
            description="Ex purus adipiscing lectus feugiat ornare. Facilisi porta aliquam sodales lacinia nibh taciti inceptos dapibus montes. Feugiat faucibus neque elementum viverra fringilla fusce. Elit tincidunt lorem sagittis finibus praesent. Sollicitudin dapibus elementum felis justo justo dictum integer. Gravida lobortis volutpat sapien vulputate duis tristique ultrices amet. Dis scelerisque scelerisque ipsum pulvinar amet interdum metus.Ut a elit phasellus, eleifend aenean proin cras metus suscipit. Vel fringilla nulla posuere, elit nostra auctor nullam a senectus. Mollis cursus sed aliquam quam facilisis odio venenatis. Iaculis platea convallis conubia conubia; vulputate eleifend pretium integer. Volutpat fames ut ante aliquet nulla per pretium lorem. Libero consequat tempor ac massa eget neque neque morbi fames. Dictum semper eu placerat; senectus nascetur ante."
        />
        <PersonCard
            name="jake"
            img_url="https://placehold.co/300x200"
            description="Ex purus adipiscing lectus feugiat ornare. Facilisi porta aliquam sodales lacinia nibh taciti inceptos dapibus montes. Feugiat faucibus neque elementum viverra fringilla fusce. Elit tincidunt lorem sagittis finibus praesent. Sollicitudin dapibus elementum felis justo justo dictum integer. Gravida lobortis volutpat sapien vulputate duis tristique ultrices amet. Dis scelerisque scelerisque ipsum pulvinar amet interdum metus.Ut a elit phasellus, eleifend aenean proin cras metus suscipit. Vel fringilla nulla posuere, elit nostra auctor nullam a senectus. Mollis cursus sed aliquam quam facilisis odio venenatis. Iaculis platea convallis conubia conubia; vulputate eleifend pretium integer. Volutpat fames ut ante aliquet nulla per pretium lorem. Libero consequat tempor ac massa eget neque neque morbi fames. Dictum semper eu placerat; senectus nascetur ante."
        />
    </section>
</Layout>
