---
import Layout from "../layouts/Layout.astro";
import PageBanner from "../components/Page-Banner.astro";
import { contentful_client } from "../lib/contentful";
import type { EntryFieldTypes } from "contentful";

interface AboutUsSkeleton {
    contentTypeId: "aboutUs";
    fields: {
        content: EntryFieldTypes.Text;
    };
}

const data =
    await contentful_client.withoutUnresolvableLinks.getEntry<AboutUsSkeleton>(
        import.meta.env.ABOUT_US_ENTRY_ID,
    );

const { content } = data.fields;
---

<Layout title="About us">
    <section id="about">
        <PageBanner title="about us" />
        <article>
            <p>{content}</p>
        </article>
    </section>
</Layout>
