---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About us">
    <section id="about" class="full-width">
        <article class="content-grid">
            <h2 class="full-width">About Us</h2>
            <p>
                Lorem ipsum odor amet, consectetuer adipiscing elit. Commodo non
                penatibus condimentum dignissim nisl dignissim maximus lacus
                leo. Dignissim nunc ad sapien magnis habitant ridiculus. Nam
                posuere pretium montes facilisis; ultrices curabitur rhoncus.
                Cursus vitae suscipit hac magnis at metus senectus facilisis.
                Neque mus metus maecenas proin commodo pulvinar rutrum vel.
                Alectus dignissim enim; egestas sapien lacinia venenatis auctor.
            </p>
        </article>
    </section>
</Layout>

<style>
    h2 {
        text-align: center;
        font-size: 3rem;
        color: var(--font-light);
        background: green;
        margin: 0;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    p {
        text-align: justify;
    }
</style>
