---
import Layout from "../layouts/Layout.astro";
import PageBanner from "../components/Page-Banner.astro";
import type { EntryFieldTypes } from "contentful";
import { contentful_client } from "../lib/contentful";

interface ContactUsSkeleton {
    contentTypeId: "contactInfo";
    fields: {
        name: EntryFieldTypes.Text;
        phone: EntryFieldTypes.Text;
        email: EntryFieldTypes.Text;
    };
}

const data = await contentful_client.getEntry<ContactUsSkeleton>(
    import.meta.env.CONTACT_US_ENTRY_ID,
);

const { name, phone, email } = data.fields;
---

<Layout title="Contact">
    <section id="contact">
        <PageBanner title="contact us" />
        <dl>
            <dt class="phone">call {name} at:</dt>
            <dd class="phone">{phone}</dd>
            <dt class="email">email:</dt>
            <dd class="email">{email}</dd>
        </dl>
    </section>
</Layout>

<style>
    dl,
    dt,
    dd {
        margin: 0;
    }

    dl {
        display: flex;
        flex-flow: column nowrap;
        gap: 1%;
    }

    dd,
    dt {
        flex-basis: 100%;
    }

    dt {
        text-transform: capitalize;
        font-weight: bold;
    }

    @media only screen and (min-width: 1200px) {
        dl {
            flex-flow: row wrap;
        }

        dd,
        dt {
            flex-basis: 49%;
        }
    }
</style>
