---
import Layout from "../layouts/Layout.astro";
import Deck from "../components/Deck.astro";
import { hero_text, hero_url } from "../lib/contentful";

const services = [
    {
        title: "new homes",
        href: "/",
        image_url: "https://picsum.photos/1920/1080?random=2",
        body: "Lorem ipsum odor amet, consectetuer adipiscing elit. Justo suscipit dictum felis nisl quam facilisis auctor. Leo parturient tincidunt mus dui in orci. Sollicitudin parturient sapien mattis parturient conubia varius. Nibh malesuada purus cubilia sed gravida. Magnis cursus donec sapien ligula bibendum pretium laoreet malesuada. Habitant tempor dis vestibulum litora maecenas dapibus arcu gravida. Vivamus erat diam fames primis tortor aenean urna sagittis id.",
    },
    {
        title: "additions",
        href: "/",
        image_url: "https://picsum.photos/1920/1080?random=3",
        body: "Condimentum himenaeos taciti sagittis; commodo varius ac nec. Euismod faucibus erat sapien penatibus morbi sem conubia. Curabitur congue vitae pharetra himenaeos nostra cubilia sagittis. Duis massa viverra dui; pellentesque tincidunt suscipit placerat sollicitudin in. Augue elementum aptent purus nunc pellentesque eleifend porta. Primis venenatis mi litora; class eu feugiat vestibulum blandit. Dis neque commodo porttitor convallis quis nam nibh viverra. Bibendum aliquam convallis diam nullam habitasse tortor euismod. Fusce non ridiculus porta penatibus; parturient montes fusce. Porttitor at molestie mi mollis curae senectus a gravida.",
    },
    {
        title: "remodels",
        href: "/",
        image_url: "https://picsum.photos/1920/1080?random=4",
        body: "Praesent aptent curabitur congue aenean pulvinar penatibus lobortis. Condimentum mi sem fermentum condimentum dictum finibus. Magnis duis maecenas libero auctor et hendrerit. Elit ad eget morbi commodo neque dolor? Senectus neque magnis convallis bibendum sem est finibus augue. Leo ex tincidunt lacinia aptent lobortis elementum egestas. Vehicula velit lacus vestibulum integer platea libero congue neque. Mauris dictum donec vulputate habitant elementum sapien elementum. Eget magna est gravida hac suscipit. Habitant elementum litora ultrices vehicula nunc.",
    },
];

let formatted_hero_url = `url(${hero_url})`;
---

<Layout title="Sheehan Remodeling">
    <section id="hero" class="full-width">
        <div class="headline"><h1>trusted since 2009</h1></div>
        <div class="call-to-action">
            <p>{hero_text}</p>
            <a href="/">get a quote</a>
        </div>
    </section>
    <section id="statement">
        <h2>
            <img class="check-mark" src="check-circle.svg" alt="check mark" /> fully
            licensed and insured general contracting services
        </h2>
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Proin at
            posuere nam maximus sociosqu, parturient vitae non nullam. Fermentum
            adipiscing nulla natoque congue convallis purus vehicula. Mollis nam
            vivamus fusce velit vehicula curabitur? At natoque metus nec aptent
            nunc nostra praesent vitae vel. Ex neque augue faucibus netus
            habitasse vestibulum volutpat justo. Tempor efficitur ac habitant ut
            dolor conubia massa.
        </p>
    </section>
    <section id="services" class="full-width">
        <Deck
            bg_image="https://picsum.photos/1920/1080?random=5"
            cards={services}
        />
    </section>
</Layout>

<style define:vars={{ formatted_hero_url }}>
    #hero {
        color: var(--font-light);
        min-height: 50dvh;
        background: var(--formatted_hero_url), var(--primary);
        background-blend-mode: overlay;
        background-size: cover;
        background-position: 50% 50%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 2em;
        opacity: 1;
        animation: hero-fade-out;
        animation-timeline: view();
        animation-range: exit;
    }

    @keyframes hero-fade-out {
        to {
            opacity: 0;
        }
    }

    .headline {
        font-family: "Black Ops One", system-ui;
        font-size: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }

    .call-to-action {
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;
    }

    .call-to-action > a {
        color: var(--primary);
        background-color: var(--highlight);
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        border-radius: 5px;
        line-height: 1.7;
    }

    #statement {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
        min-height: 10dvh;
    }

    #statement > h2 {
        text-transform: uppercase;
        font-size: 2rem;
    }

    #services {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    @media only screen and (min-width: 1200px) {
        #hero {
            flex-flow: row wrap;
            gap: 2%;
        }

        .headline {
            flex-basis: 49%;
        }

        .call-to-action {
            flex-basis: 49%;
        }

        #services {
            gap: 0;
            margin: 2rem 0;
        }
    }
</style>
