---
import Layout from "../layouts/Layout.astro";
import PageBanner from "../components/Page-Banner.astro";
import Slideshow from "../components/Slideshow.astro";
---

<Layout title="Services">
    <div><PageBanner title="services" /></div>
    <p>
        Pulvinar quisque tempus at, felis porttitor cursus mollis rhoncus.
        Praesent cras blandit commodo aliquet mauris. Est justo nunc dictum
        curabitur ullamcorper litora. Ante parturient arcu neque; dapibus congue
        habitasse. Tristique taciti ridiculus blandit mus est tincidunt. Integer
        elementum suscipit sed penatibus fames orci. Vitae porttitor varius
        platea; nulla aliquet tellus maecenas accumsan etiam. Nascetur orci
        malesuada id; et primis condimentum orci. Fringilla habitasse maximus
        hac cubilia consequat praesent nulla? Blandit lectus praesent
        consectetur convallis venenatis.
    </p>
    <section class="breakout">
        <div id="new-homes">
            <Slideshow
                contentful_id={import.meta.env.NEW_HOMES_SLIDESHOW_ENTRY_ID}
            />
        </div>
        <div id="additions">
            <Slideshow
                contentful_id={import.meta.env.ADDITIONS_SLIDESHOW_ENTRY_ID}
            />
        </div>
        <div id="remodels">
            <Slideshow
                contentful_id={import.meta.env.REMODELS_SLIDESHOW_ENTRY_ID}
            />
        </div>
    </section>
</Layout>
