---
import Layout from "../layouts/Layout.astro";
import PageBanner from "../components/Page-Banner.astro";
import Slideshow from "../components/Slideshow.astro";
---

<Layout title="Services">
    <div><PageBanner title="services" /></div>
    <section class="slideshows">
        <Slideshow
            contentful_id={import.meta.env.NEW_HOMES_SLIDESHOW_ENTRY_ID}
        />
        <Slideshow
            contentful_id={import.meta.env.ADDITIONS_SLIDESHOW_ENTRY_ID}
        />
        <Slideshow
            contentful_id={import.meta.env.REMODELS_SLIDESHOW_ENTRY_ID}
        />
    </section>
</Layout>

<style>
    .slideshows {
        grid-column: full-width;
    }

    @media only screen and (min-width: 1200px) {
        .slideshows {
            grid-column: breakout;
        }
    }
</style>
