---
import Layout from "../layouts/Layout.astro";
import PageBanner from "../components/Page-Banner.astro";
import Slideshow from "../components/Slideshow.astro";
---

<Layout title="Services">
    <div><PageBanner title="services" /></div>
    <section class="breakout">
        <Slideshow
            contentful_id={import.meta.env.NEW_HOMES_SLIDESHOW_ENTRY_ID}
        />
        <Slideshow
            contentful_id={import.meta.env.ADDITIONS_SLIDESHOW_ENTRY_ID}
        />
        <Slideshow
            contentful_id={import.meta.env.REMODELS_SLIDESHOW_ENTRY_ID}
        />
    </section>
</Layout>
