---
import LearnMoreButton from "./Learn-More-Button.astro";

interface Props {
    title: string;
    img_url: string;
    link: string;
}

const { title, img_url, link } = Astro.props;
---

<li x-data=`{ imgUrl: "${img_url}" }` @mouseover="bgUrl = imgUrl">
    <h2>{title}</h2>
    <slot />
    <LearnMoreButton href={link} />
</li>

<style>
    li {
        min-height: var(--card-height);
        color: var(--font-light);
        padding: 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    h2 {
        text-transform: capitalize;
    }

    @media only screen and (min-width: 1200px) {
        li > :global(a) {
            opacity: 0;
            transition: opacity 250ms linear;
        }

        li:hover > :global(a) {
            opacity: 1;
        }
    }
</style>
