---
interface Props {
    title: string;
    theme: "light" | "dark";
}

const { title, theme } = Astro.props;
---

<article class={`product-card ${theme === "light" ? "light" : "dark"}`}>
    <h2>{title}</h2>
    <slot />
</article>

<style>
    .product-card {
        padding: 2.5rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .product-card > h2 {
        text-align: center;
        text-decoration: underline;
        text-decoration-color: var(--highlight);
        text-decoration-thickness: 5px;
        text-transform: uppercase;
        pointer-events: none;
    }

    .light {
        color: var(--font-dark);
    }

    .dark {
        color: var(--font-light);
    }

    @media only screen and (min-width: 1200px) {
        .product-card {
            justify-content: center;
        }
    }
</style>
