<li
    class="carousel-slide"
    x-cloak
    x-show="$el === curr_slide"
    x-transition:enter="transition"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
>
    <slot />
</li>

<style>
    li {
        width: 100%;
        border-radius: var(--border-radius-small);
    }

    .carousel-slide > :global(*) {
        width: 100%;
        border-radius: var(--border-radius-small);
    }

    .transition {
        transition: all 200ms linear;
    }

    .opacity-0 {
        opacity: 0;
    }

    .opacity-100 {
        opacity: 1;
    }
</style>
