---
import MenuIcon from "./Menu-Icon.astro";

export type NavLink = {
    label: string;
    href: string;
};

interface Props {
    links: NavLink[];
}

const { links } = Astro.props;
---

<div x-data="{ open: false }" :aria-expanded="open" class="dropdown">
    <button @click="open = !open">
        <MenuIcon />
    </button>
    <nav x-show="open" @click.outside="open = false" class="nav">
        <ul>
            {
                links.map((link) => {
                    return (
                        <li>
                            <a href={link.href}>{link.label}</a>
                        </li>
                    );
                })
            }
        </ul>
    </nav>
</div>

<style>
    button {
        border: none;
        background: transparent;
        width: var(--menu-icon-size);
        height: var(--menu-icon-size);
    }

    .nav {
        z-index: 100;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: var(--primary-light);
        padding: 0.5rem;
        visibility: hidden;
        transition: visibility 1ms;
        border-top: 2px solid var(--primary);
    }

    ul {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
    }

    li {
        text-transform: uppercase;
        padding: 0.5rem;
        border-radius: 5px;
    }

    li:hover {
        background: var(--primary);
        color: var(--font-light);
    }

    /* transitions */

    .dropdown[aria-expanded="true"] > .nav {
        visibility: visible;
    }

    @media only screen and (min-width: 1200px) {
        ul {
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }
    }
</style>
