---
import GitHubLogo from "./GitHubLogo.astro";
---

<footer>
    <p>&copy; 2024 Sheehan Remodeling</p>
    <p>
        Design and Build by Jake Sheehan <a
            target="_blank"
            href="https://github.com/Jake-Sheehan"><GitHubLogo /></a
        >
    </p>
</footer>

<style>
    footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 0.5rem;
        background: var(--color-background);
        grid-row: footer;
    }

    a {
        display: inline-block;
        margin: 0.25rem;
        width: var(--github-logo-size);
        height: var(--github-logo-size);
    }

    p {
        margin: 0;
    }

    @media only screen and (min-width: 1200px) {
        footer {
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
    }
</style>
