---
import CheckMark from "./Check-Mark.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<article>
    <h2>
        <span><CheckMark /></span>
        {title}
    </h2>
    <p>{description}</p>
</article>

<style>
    article {
        flex-basis: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25em;
    }

    span {
        margin-right: 0.5rem;
    }

    h2 {
        text-transform: capitalize;
        color: var(--color-headline-dark);
    }

    h2,
    p {
        margin: 0;
    }

    p {
        color: var(--color-paragraph-dark);
    }

    @media only screen and (min-width: 1200px) {
        article {
            flex-basis: 49%;
            align-items: center;
        }

        p {
            text-align: justify;
        }
    }
</style>
