---
import type { NavLink } from "../components/Dropdown.astro";
import Dropdown from "../components/Dropdown.astro";

const nav_links: NavLink[] = [
    {
        label: "home",
        href: "/",
    },
    {
        label: "about",
        href: "/about",
    },
    {
        label: "services",
        href: "/services",
    },
    {
        label: "contact",
        href: "/contact",
    },
];
---

<header>
    <a href="/">
        <img src="logo.svg" alt="logo" />
    </a>

    <Dropdown links={nav_links} />
</header>

<style>
    header {
        color: var(--font-dark);
        grid-row: header;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.75rem 2rem;
        background-color: var(--primary-light);
        position: relative;
    }

    img {
        width: 100%;
    }

    a {
        width: var(--logo-width);
        height: var(--logo-height);
    }

    h2 {
        display: none;
    }

    @media only screen and (min-width: 1200px) {
        h2 {
            display: block;
        }
    }
</style>
