---
interface Props {
    href: string;
}

const { href } = Astro.props;
---

<a href={href}>learn more</a>

<style>
    a {
        color: var(--color-paragraph-light);
        font-weight: bold;
        border: 1px solid var(--color-paragraph-light);
        background: transparent;
        padding: 1.5rem;
        text-transform: capitalize;
        cursor: pointer;
        border-radius: 5px;
    }
</style>
