---
import type { EntryFieldTypes } from "contentful";
import { contentful_client } from "../lib/contentful";
import Carousel from "./Carousel.astro";
import CarouselItem from "./Carousel-Item.astro";

interface Props {
    contentful_id: string;
}

interface SlideshowSkeleton {
    contentTypeId: "slideshow";
    fields: {
        title: EntryFieldTypes.Text;
        description: EntryFieldTypes.Text;
        images: EntryFieldTypes.Array<EntryFieldTypes.AssetLink>;
    };
}

const { contentful_id } = Astro.props;
const data =
    await contentful_client.withoutUnresolvableLinks.getEntry<SlideshowSkeleton>(
        contentful_id,
    );
const { title, description, images } = data.fields;
---

<section>
    <h2>{title}</h2>
    <Carousel>
        {
            images.map((image) => (
                <CarouselItem>
                    <a href={image?.fields.file?.url ?? ""} target="_blank">
                        <img
                            src={image?.fields.file?.url ?? ""}
                            alt={
                                image?.fields.description ??
                                "slideshow image default"
                            }
                        />
                    </a>
                </CarouselItem>
            ))
        }
    </Carousel>
    <p>{description}</p>
</section>

<style>
    section {
        width: 100%;
        background-color: var(--primary);
        color: var(--font-light);
    }

    h2 {
        text-align: center;
        text-transform: capitalize;
    }

    img {
        width: 100%;
    }

    a {
        display: block;
    }
</style>
