:root {
  // colors
  --font-color-primary: #2E3440;
  --nav-background-color: #ECEFF4;
  --background-color-primary: #ECEFF4;
  // sizes
  --nav-height: 20vh;
  --nav-margin-bottom: 20vh;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #2E3440;
  background: #ECEFF4;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}
